alsa-lib
bzip2
dist*
ffmpeg
gettext
libaacplus
libffi
ncurses
openssl
prebuilts
Python
BPython
readline
sqlite
x264
xz
zlib
OpenBLAS
cython
numpy
scipy
onnxruntime
opencv
opencv-python
grpc
pytorch

binutils
gcc
gmp
libiconv
m4
mpc
mpfr
patchelf
tmp
tmps

*.tar.gz
*.tar.xz
*.zip
.DS_Store
*.dist
*.env
*.log
*.old
.vscode
