alsa-lib
bzip2
dist*
ffmpeg
gettext
libaacplus
libffi
ncurses
openssl
prebuilts
Python
BPython
readline
sqlite
x264
xz
zlib
OpenBLAS
cython
numpy
scipy
onnxruntime
opencv
opencv-python
grpc
pytorch
*.tar.gz
*.tar.xz
*.zip
.DS_Store
*.dist
*.env
*.log
.vscode
